<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">

  <title>Cloud Shield Adaptive Threat Detection Using Machine Intelligence In Virtual Environments</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="static/images/pj_img.jpg" alt="addf">
      </div>
    </div>

    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
            <a href="" class="contact_link1">
             
              
            </a>
            <a href="" class="contact_link2">
              
              
            </a>
            <a href="" class="contact_link3">
              
              
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <span>
                Cloud Shield Adaptive Threat Detection Using Machine Intelligence In Virtual Environments
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/ownerhome">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/fileupload"> File upload</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/ownerviewfiles"> View Files </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/viewencfiles"> View Digitalsig </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout"> Logout </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
         
         
        <center>
          <form name="myform" method="post" action="/addfact">

            <table align="center">
         

           <tr>
               <td>
                   <td><strong><font size="3" color="white">File Name:</font></strong></td><td><input type="text"
                                                                                                      class="uname" name="fname" value="{{fname}}" placeholder= UserName style="height:30px; width:200px" />&nbsp;<span class="status"></span></td>
               </td>
           </tr>
          
                  <tr>
               <td>
                   <td><strong><font size="3" color="white">Duration: </font></strong></td>
                   <td><input type="number" name="dur" id="dob1" placeholder="Length of time duration of the connection (0 - 54451)" style="height:30px; width:200px"></input></td> 
               </td>
           </tr>

           <tr>
               <td>
                   <td><strong><font size="3" color="white">Protocol Type: </font></strong></td> 
                   <td><select name="port" style="width:40%">
                       <option disabled="" selected="">Protocol used in the connection</option>
               <option id="tcp">1. TCP</option>
               <option id="udp">2. UDP</option>
               <option id="icmp">3. ICMP</option>
                   </select></td> 
               </td>
           </tr>
           


            <tr>
               <td>
                   <td><strong><font size="3" color="white">Service:</font></strong></td>
                   <td><input type="text" name="service" id="city" placeholder="Destination network service used" style="height:30px; width:200px"> </input></td>
               </td>
           </tr>
           

         

           <tr>
               <td>
                   <td><strong><font size="3" color="white">Flag: </font></strong></td> 
                   <td><input type="text" name="flag" id="contactno1" placeholder= "Flag Type value type" style="height:30px; width:200px"></input>
                       </select></td>
               </td>
           </tr>

           <tr>
               <td>
                   <td><strong><font size="3" color="white">Src Bytes: </font></strong></td> 
                   <td><input type="number" name="srcbytes" id="contactno1" placeholder="Number of data bytes transferred from source to dest" style="height:30px; width:200px"></input>
                       </select></td>
               </td>
           </tr>


           <tr>
               <td>
                   <td><strong><font size="3" color="white">Dstn Bytes: </font></strong></td> 
                   <td><input type="number" name="dstnbytes" id="contactno1" placeholder= "Number of data bytes transferred from dest to source" style="height:30px; width:200px"></input>
                       </select></td>
               </td>
           </tr>


           <tr>
               <td>
                   <td><strong><font size="" 3color="white">Logged In: </font></strong></td> 
                   <td><select name="login_status" style="width:40%">
                       <option disabled="" selected=""><span  style="color:#ccc">Login Status</span></option>
               <option id="out">0. Logged out</option>
               <option id="in">1. Logged in</option>
                   </select></td> 
               </td>
           </tr><br>

           <tr>
               <td>
                   <td><strong><font size=""3 color="white">Wrong Fragment: </font></strong></td> 
                   <td> <select class="form-control" id="wrong" required="" name="wrong" style="width:40%">
                       <option disabled="" selected="">Total number of wrong fragments in this connection</option>
                       <option id="wrng0">0</option>
                       <option id="wrng1">1</option>
                       <option id="wrng2">2</option>
                       <option id="wrng3">3</option>
                     </select></td> 
               </td>
           </tr>



           <tr>
               <td>
                   <td><strong><font size="" 3color="white">Same Destn Count: </font></strong></td> 
                   <td><input type="number" min="0" max="511" name="sdc" id="contactno1" placeholder= "Same Destn Count" style="height:30px; width:200px"></input>
                       </select></td>
               </td>
           </tr>


           <tr>
               <td>
                   <td><strong><font size="3" color="white">Same Port Count: </font></strong></td> 
                   <td><input type="number" min="0" max="511" name="srv_count" id="contactno1" placeholder= "Same Port Count" style="height:30px; width:200px"></input>
                       </select></td>
               </td>
           </tr>


         
           <tr>
               <td>
                   <center>        <td><input type="submit" value="Submit" style="height:30px; width:90px;margin-top: 10%;" /></td>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                       
               </td>
           </tr>





       </table>
   </form>
     
        </center>
        </div>
      
      </div>
    </section>
    <!-- end slider section -->
  </div>




 
  <!-- footer section -->

  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/custom.js"></script>
</body>

</html>